/* 메뉴바 */

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0,0,0,0.04);
    background-color: #cacaca;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.logo img{
    height: 65px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    font-family: 'Cafe24Oneprettynight';
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 32px;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color:#646363;
    letter-spacing: 1px;
}
/* 끝 */
		#main {
			transition:0.5s ease-in-out;
		}
	
			.sidenav {
				padding-top:45px;
			}
			.sidenav a {
				font-size: 20px;
            }
            
        .img1 {
            top: 144px;
            left: 132px;
            width: 404px;
            height: 505px;
            box-shadow: 0px 10px 10px #00000029;
            position:absolute;
        }

        .box1{
            top: 140px;
            left: 638px;
            width: 365px;
            height: 62px;
            background-color: #EBE9E4;
            border: 1px solid #7E6C6C;
            box-shadow: 0px 10px 10px #70707029;
            border-radius: 25px;
            position:absolute;
        }
        .box2{
        top: 381px;
        left: 638px;
        width: 425px;
        height: 62px;
        background-color: #EBE9E4;
        border: 1px solid #7E6C6C;
        box-shadow: 0px 10px 10px #70707029;
        border-radius: 25px;
        position:absolute;
    }
        .box3{
            top: 695px;
            left: 126px;
            width: 409px;
            height: 124px;
            background-color:#EBE9E4;
            box-shadow: 0px 10px 10px #70707029;
            border: 3px solid #A8A5A5;
            position:absolute;
        }
        .box4 {
            top: 665px;
            left: 1342px;
            width: 482px;
            height: 332px;
            position: absolute;
        }

        .text1{
            top: 155px;
            left: 657px;
            width: 354px;
            height: 32px;
            position:absolute;
            font-size: 30px;
            color: #3B3636;
            font-family: 'KHNPHU';

        }
        .text2{
            
            top: 237px;
            left: 646px;
            width: 821px;
            height: 82px;
            font-size: 30px;
            color: #554d4d;
            line-height: 50px;  
            font-family: 'Arita-dotum-Medium';
            position:absolute;
        }

        .text3{
            top: 396px;
            left: 654px;
            width: 390px;
            height: 32px;
            font-size: 30px;
            color: #585252;
            font-family: 'KHNPHU';
            position:absolute;
        }

        .text4{
           
            top: 472px;
            left: 640px;
            width: 637px;
            height: 82px;
            font-size: 30px;
            color: #554d4d;
            font-family: 'Arita-dotum-Medium';
            line-height: 50px;  
            position:absolute;
        }     

        .text5{
            top: 720px;
            left: 167px;
            width: 327px;
            height: 37px;
            font-size: 30px;
            color: #474543;
            font-family: 'KHNPHU';
            position:absolute;
        }    

         .text6{
            top: 767px;
            left: 167px;
            width: 131px;
            height: 32px;            
            font-size: 28px;
            color: #5e5855;
            font-family: 'KHNPHU';
            position:absolute;
        }

        .text7{
            top: 867px;
            left: 129px;
            width: 521px;
            height: 69px;
            font-size: 30px;
            color: #5e5855;
            font-family: 'KHNPHU';
            position:absolute;
            line-height: 74px; 
        }    

         .text8{
            top: 655px;
            left: 637px;
            width: 678px;
            height: 332px;
            line-height: 60px;                  
            font-size: 30px;
            color: #5e5855;
            font-family: 'Arita-dotum-Medium';
            line-height: 60px;  
            position:absolute;
        }

        