/* 메뉴바 */

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0,0,0,0.04);
    background-color: #524b4b;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.logo img{
    height: 65px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    font-family: 'Cafe24Oneprettynight';
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 32px;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color:#fcf7f7;
    letter-spacing: 1px;
}
/* 끝 */
