/* 메뉴바 */

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0,0,0,0.04);
    background-color: #524b4b;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.logo img{
    height: 65px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    font-family: 'Cafe24Oneprettynight';
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 32px;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color:#fcf7f7;
    letter-spacing: 1px;
}
/* 끝 */
.nnn{
    top: 147px;
    left: 534px;
    width: 852px;
    height: 156px;    
    position:absolute;
}
.m{
    top: 2583px;
    left: 36px;
    width: 380px;
    height: 36px;   
    position:absolute;
}
.back{
    top: 75px;
    left: 0px;
    width: 1920px;
    height: 1476px;
    position:absolute;
}
/* 1*/

.scroll{
    top: 1550px;
    left: 0px;
    text-align: center;
    width: 620px;
    height: 1004px;
    color: #292727;
    border: 2px solid #000000;
    line-height: 33px;
    font-size: 20px;
    font-family: 'NanumSquare';
    letter-spacing :1px; 
    padding:10px;
     overflow:auto;
     position:absolute;
}
/* 1*/
/* 2*/

.scroll2{
    text-align: center;
    top: 1550px;
    left: 643px;
    width: 620px;
    height: 1004px;
    color: #292727;
    border: 2px solid #000000;
    line-height: 33px;
    font-size: 20px;
    font-family: 'NanumSquare';
    letter-spacing :1px; 
    padding:10px;
     overflow:auto;
     position:absolute;
}
/* 2*/
/* 3*/

.scroll3{
    text-align: center;
    top: 1551px;
    left: 1285px;
    width: 611px;
    height: 1004px;
    color: #292727;
    border: 2px solid #000000;
    line-height: 33px;
    font-size: 20px;
    font-family: 'NanumSquare';
    letter-spacing :1px; 
    padding:10px;
     overflow:auto;
     position:absolute;
}
/* 3*/
