.box1{
    top: 90px;
    left: 78px;
    width: 1765px;
    height: 900px;
    border: 2px solid #000000;
    position: absolute;
}


.text1{
    top: 186px;
    left: 134px;
    width: 603px;
    height: 115px;   
    position: absolute;
}

.text2{
    top: 334px;
    left: 138px;
    width: 510px;
    height: 103px;
    position: absolute;
    }
    

.text3{
    top: 805px;
    left: 135px;
    width: 114px;
    height: 132px;
    position: absolute;
}


.click {

    top: 540px;
    left: 78px;
    width: 1030px;
    height: 167px;
    position: absolute;
    border:none;
    box-shadow: 0 4px 16px rgba(63, 63, 63, 0.3);
    transition:0.3s;
    
    }
    /* 포커스 됐을 때 */
    button:focus{
    outline: 0;
    }
    /* 마우스 오버 했을 때 */
    button:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    }

 .abo {
        top: 90px;
        left: 1106px;
        width: 737px;
        height: 180px;
        position: absolute;
        border:none;
        transition:0.3s;
        }


    
 .des {
    top: 270px;
    left: 1106px;
    width: 737px;
    height: 180px;
    position: absolute;
    border:none;
    transition:0.3s;
    }



    .bra {
        top: 450px;
        left: 1106px;
        width: 737px;
        height: 180px;
        position: absolute;
        border:none;
        transition:0.3s;
        }


    
 .vid {
    top: 630px;
    left: 1106px;
    width: 737px;
    height: 180px;
    position: absolute;
    border:none;
    transition:0.3s;
    }



    .con {
        top: 810px;
        left: 1106px;
        width: 737px;
        height: 180px;
        
        position: absolute;
        border:none;
        transition:0.3s;
        }


   