/* 메뉴바 */

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0,0,0,0.04);
    background-color: #cacaca;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.logo img{
    height: 65px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    font-family: 'Cafe24Oneprettynight';
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 32px;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color:#646363;
    letter-spacing: 1px;
}
/* 끝 */

/* 1시작 */
.head {
 top: 176px;
left: 693px;
width: 534px;
height: 104px;
position:absolute;
}

.go {
    top: 295px;
    left: 764px;
    margin: 5px;
    width: 484px;
    height: 48px;
position:absolute;
border:none;
box-shadow: 0 4px 16px rgba(206, 206, 206, 0.3);
transition:0.3s;

}


.sqm{
    top: 456px;
    left: 140px;
    width: 518px;
    height: 624px;
    position:absolute;
}

.title{
    top: 507px;
    left: 299px;
    width: 326px;
    height: 35px;
    font-size: 24px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;
}

.txtgo{
    top: 615px;
    left: 304px;
    width: 158px;
    height: 39px;
    position:absolute;
}

.picyang{
    top: 756px;
    left: 173px;
    width: 452px;
    height: 254px;
    position:absolute;    
}
.title2{
    top: 489px;
    left: 878px;
    font-weight: 349;
    width: 326px;
    font-size: 23px;
    font-family: 'NanumSquare';
    line-height: 33px;
    height: 35px;    
    position:absolute;     
}

.image2{
    top: 756px;
    left: 734px;
    width: 452px;
    height: 254px;
    position:absolute;     
}
.txtgo2{
    top: 615px;
    left: 865px;
    width: 158px;
    height: 39px;
    position:absolute;
}

.title3{
    top: 455px;
    left: 1490px;
    width: 56px;
    height: 35px;
    font-weight: 349;
    font-size: 24px;
    font-family: 'NanumSquare';
    line-height: 30px;   
    position:absolute;     
}
.image3{
    top: 635px;
    left: 1341px;
    width: 361px;
    height: 482px;
    position:absolute;
} 
/* 1끝 */

/* 2시작 */
.sqm4{
    top: 1191px;
    left: 140px;
    width: 1640px;
    height: 715px;    
    position:absolute;
}

.title4{
    top: 1229px;
    left: 304px;
    width: 326px;
    height: 35px;
    font-size: 24px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;
}

.txtgo4{
    top: 1350px;
    left: 304px;
    width: 158px;
    height: 39px;
    position:absolute;
}

.picyang4{
    top: 1491px;
    left: 173px;
    width: 452px;
    height: 254px;
    position:absolute;    
}
.title5{
    top: 1224px;
    left: 880px;
    width: 326px;
    height: 35px;
    line-height: 33px;
    font-size: 24px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;  
}

.image5{
    top: 1491px;
    left: 734px;
    width: 452px;
    height: 254px;    
    position:absolute;     
}
.txtgo5{
    top: 1350px;
    left: 865px;
    width: 158px;
    height: 39px;    
    position:absolute;
}

.title6{
    top: 1240px;
    left: 1514px;
    width: 56px;
    height: 35px;    
    font-size: 25px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;
}
.image6{
    top: 1330px;
    left: 1341px;
    width: 361px;
    height: 482px;    
    position:absolute;
} 
/* 2끝 */
/* 3시작 */
.sqm7{
    top: 1926px;
    left: 140px;
    width: 518px;
    height: 624px;
    position:absolute;
}

.title7{
    top: 1984px;
    left: 310px;
    width: 326px;
    height: 35px;
    font-size: 23px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;
}

.txtgo7{
    top: 2085px;
    left: 304px;
    width: 158px;
    height: 39px;
    position:absolute;
}

.picyang7{
    top: 2226px;
    left: 173px;
    width: 452px;
    height: 254px;    
    position:absolute;    
}
.title8{
    top: 1977px;
    left: 867px;
    width: 326px;
    height: 35px;
    line-height: 33px;
    font-size: 22px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;  
}

.image8{
    top: 2226px;
    left: 734px;
    width: 452px;
    height: 254px;    
    position:absolute;     
}
.txtgo8{
    top: 2085px;
    left: 865px;
    width: 158px;
    height: 39px;    
    position:absolute;
}

.title9{
    top: 1975px;
    left: 1525px;
    width: 56px;
    height: 35px;    
    font-size: 24px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;
}
.image9{
    top: 2155px;
    left: 1341px;
    width: 361px;
    height: 482px;       
    position:absolute;
} 
/* 3끝 */
/* 4시작 */
.sqma{
    top: 2587px;
    left: 141px;
    width: 1640px;
    height: 714px;    
    position:absolute;
}

.titlea{
    top: 2620px;
    left: 419px;
    width: 56px;
    height: 35px;
    font-size: 24px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;
}

.picyanga{
    top: 2820px;
    left: 219px;
    width: 361px;
    height: 482px;    
    position:absolute;    
}
.titles{
    top: 2639px;
    left: 993px;
    width: 56px;
    height: 35px;    
    line-height: 33px;
    font-size: 22px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;  
}

.images{
    top: 2750px;
    left: 780px;
    width: 361px;
    height: 482px;   
    position:absolute;     
}

.titled{
    top: 2730px;
    left: 1422px;
    width: 326px;
    height: 35px;
    font-size: 23px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;
}
.imaged{
    top: 2976px;
    left: 1296px;
    width: 452px;
    height: 254px;       
    position:absolute;
} 
.txtgod{
    top: 2830px;
    left: 1428px;
    width: 452px;
    height: 254px;    
    position:absolute;
}
/* 3끝 */
/* 5시작 */
.sqmq{
    top: 3342px;
    left: 141px;
    width: 1640px;
    height: 714px;
    position:absolute;
}

.titleq{
    top: 3353px;
    left: 412px;
    width: 56px;
    height: 35px;   
    font-size: 24px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;
}

.picyangq{
    top: 3497px;
    left: 219px;
    width: 361px;
    height: 482px;    
    position:absolute;    
}
.titlew{
    top: 3390px;
    left: 973px;
    width: 56px;
    height: 35px;
    line-height: 33px;
    font-size: 22px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;  
}

.imagew{
    top: 3490px;
    left: 780px;
    width: 361px;
    height: 482px;
    position:absolute;     
}

.titlee{
    top: 3398px;
    left: 1539px;
    width: 56px;
    height: 35px;    
    font-size: 23px;
    font-weight: 349;
    font-family: 'NanumSquare';
    position:absolute;
}
.imagee{
    top: 3490px;
    left: 1341px;
    width: 361px;
    height: 482px;      
    position:absolute;
} 
/* 5끝 */